$font-size-base: 0.9375rem;
$font-weight-base: 400;
$font-weight-bold: 700;
$screen-sm: 33.125rem;
$screen-lg: 90rem;
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray: hsl(0, 0%, 95%);
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$extra-dark-cyan: hsl(179, 100%, 13%);
$font-size-heading: 2.5rem;